body{
    background-color: black;
}
form, .form-item{
    display: flex;
    flex-direction: column;
    max-width: 700px;
}
.form-item{
    margin-top: 1%;
}
form{
    margin: auto;
    margin-top: 5%;
    padding: 2%;
    border-radius:10px ;
    background-color: white;
}
.check{
    width: auto;
    display: flex;
    flex-direction: row;
}

button{
    width: 20%;
    margin: auto;
    padding: 2%;
    background-color:blue;
    border: none;
    color: #ffffff;
    margin-top: 4%;
}
label{
    font-size: 20px;
}

input[type=text],select{
    padding: 2%;
    outline: none;
}
small{
    font-size: 15px;
    text-transform: capitalize;
    color: red;
}
@media screen and (max-width:360px){
    .check{
       
    }
}